
.navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 600px;
    padding: 0;
    margin: 10px;
    top: 100%;
    background-color: #fefefee6;
    box-shadow: 10px 10px 10px darkgrey;
    font-size: 14px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #49e4c4;
    padding: 7px 10px;
    border-bottom: 1px solid #49e4c4;
    color: #ffffff;
    font-size: 16px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  white-space: normal;
}


.btn.disabled {
  background-color: #b59c9d;
  }


} #tt_control, #tt_type {
  padding-bottom: 6px;
}



th, td {
  padding: 5px;
}





}